<html ng-app="myApp" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title></title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
        <link href="~/css/main.css" rel="stylesheet" />
        <script src="https://code.angularjs.org/1.5.4/angular.min.js"></script>
        <script src="https://code.angularjs.org/1.5.4/angular-route.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="~/myapp.js"></script>
        <script src="~/scripts/angularscripts/controllers/myctrl.js"></script>
        <script src="~/scripts/angularscripts/controllers/aboutctrl.js"></script>
        <script src="~/scripts/angularscripts/directives/mainpage.js"></script>
    </head>
    <body ng-controller="myCtrl">
        @RenderBody();
    </body>
</html>