<div class="pageSpan">
    <script src="Built/main.bundle.js"></script>
    <div class="row" style="margin-bottom:2%"></div>
    <!-- #region Navbar -->
    <div class="row">
        <div class="row myNavContainer">
            <div class="col-sm-2 col-sm-offset-1" style="margin-top:0.4%;">
                <a class="myBrand" href="#/">Sebastian Uddén</a>
            </div>
            <!-- #region NavbarList -->
            <div class="col-sm-6 col-sm-offset-1" style="margin-top:1.1%;">
                <ul id="myNavbarIcons">
                    <li><a href="#/"><span class="glyphicon glyphicon-user" style="margin-right:0.5%; margin-left:1%;"></span>5 Attributes</a></li>
                    @*<li><a href="#/about"><span class="glyphicon glyphicon-user" style="margin-right:0.5%; margin-left:1%;"></span>About</a></li>*@
                    <li><a href="#/resume"><span class="glyphicon glyphicon-book" style="margin-right:0.5%; margin-left:1%;"></span>Resumé</a></li>
                    <li><a href="#/skills"><span class="glyphicon glyphicon-screenshot" style="margin-right:0.5%; margin-left:1%;"></span>Skills</a></li>
                    <li><a href="#/portfolio"><span class="glyphicon glyphicon-briefcase" style="margin-right:0.5%; margin-left:1%;"></span>Portfolio</a></li>
                    <li><a href="#/contact"><span class="glyphicon glyphicon-envelope" style="margin-right:0.5%; margin-left:1%;"></span>Contact</a></li>
                </ul>
            </div>
            <!-- #endregion -->
            <div class="col-sm-2 col-sm-pull-1" style="margin-top:0.7%;">
            </div>
        </div>
    </div>
    <!-- #endregion -->
    <!-- #region MainBody -->
    <div id="myContent" class="row">
        <div ng-view></div>
    </div>
    <!-- #endregion -->
    <!-- #region Footer -->
    <div id="myFooter" class="row">
        <p>Hire me, you'll love the results!</p>
    </div>
    <!-- #endregion -->
</div>
